n8n-workflow.json
{
  "name": "Alcovia - Focus Session Success Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "focus-session-success",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Session Success Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "a1b2c3d4-0001-4000-8000-00000000000a"
    },
    {
      "parameters": {
        "jsCode": "// Idempotency guard: the backend may legitimately deliver the same\n// session twice (retry after a crash between sending and recording the\n// send). The notification must go out exactly once per sessionId, so we\n// dedupe on the stable sessionId — never on wall-clock time.\n//\n// NOTE: workflow static data only persists when the workflow is ACTIVE\n// (production webhook URL), not in 'Test workflow' executions.\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.seenSessionIds) staticData.seenSessionIds = {};\n\nconst payload = $input.first().json.body ?? $input.first().json;\nconst sessionId = payload.sessionId;\n\nconst duplicate = sessionId in staticData.seenSessionIds;\nif (!duplicate) staticData.seenSessionIds[sessionId] = Date.now();\n\nreturn [{ json: { ...payload, duplicate } }];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Idempotency Guard (dedupe by sessionId)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-not-duplicate",
              "leftValue": "={{ $json.duplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "First Time?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:4000/notification-sink",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sessionId: $json.sessionId, studentId: $json.studentId, message: 'Streak now ' + $json.streakDays + ' days, +' + $json.coinsEarned + ' coins.' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Send Notification (mock WhatsApp sink)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Duplicate - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 100]
    }
  ],
  "connections": {
    "Session Success Webhook": {
      "main": [
        [
          {
            "node": "Idempotency Guard (dedupe by sessionId)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Guard (dedupe by sessionId)": {
      "main": [
        [
          {
            "node": "First Time?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Time?": {
      "main": [
        [
          {
            "node": "Send Notification (mock WhatsApp sink)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Duplicate - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
